#countLabel {
    display: block;
    font-size: 160px;
    text-align: center;
    font-family: Helvetica;
}

#btnContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.buttons {
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    background-color: rgb(226, 121, 156);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: rgb(186, 79, 114);
}

